<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://quilla.lab.inf.pucp.edu.pe:3306/inf226ga?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">inf226ga</property>
    <property name="hibernate.connection.password">yu2hpbuzdcANFc5u</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Modelo/Hibernate/Nodo.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Accidente.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Disponibilidad.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Mantenimiento.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Empleado.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Arista.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/TipoCamion.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Usuario.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Turno.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Ruta.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Camion.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Perfil.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Cliente.hbm.xml"/>
    <mapping resource="Modelo/Hibernate/Pedido.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
